<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.dao.mapper.NewServerPlanMapper">
	<resultMap id="newServerPlanMap" type="com.yn.model.NewServerPlan">
		<id column="id" property="id"></id>
		<result column="del" property="del" jdbcType="INTEGER" />
		<result column="del_dtm" property="delDtm" jdbcType="TIMESTAMP" />
		<result column="create_dtm" property="createDtm" jdbcType="TIMESTAMP" />
		<result column="update_dtm" property="updateDtm" jdbcType="TIMESTAMP" />
		
		<result column="server_id" property="serverId" jdbcType="INTEGER" />
		<result column="batteryboard_id" property="batteryboardId" jdbcType="INTEGER" />
		<result column="inverter_id" property="inverterId" jdbcType="INTEGER" />
		<result column="material_json" property="materialJson" jdbcType="VARCHAR" />
		<result column="min_purchase" property="minPurchase" jdbcType="DOUBLE" />
		<result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
		<result column="plan_img_url" property="planImgUrl" jdbcType="VARCHAR" />
		<result column="plan_id" property="planId" jdbcType="INTEGER" />
		<result column="war_period" property="warPeriod" jdbcType="DOUBLE" />
		<result column="faction_id" property="factionId" jdbcType="INTEGER" />
		<result column="type" property="TYPE" jdbcType="INTEGER" />
		<result column="plan_name" property="planName" jdbcType="VARCHAR" />

		<result column="battery_board_shelf_life" property="batteryBoardShelfLife" jdbcType="DOUBLE" />
		<result column="battery_board_warranty_year" property="batteryBoardWarrantyYear" jdbcType="DOUBLE" />
		<result column="inverter_shelf_life" property="inverterShelfLife" jdbcType="DOUBLE" />
		<result column="inverter_warranty_year" property="inverterWarrantyYear" jdbcType="DOUBLE" />
	</resultMap>
	
	<insert id="insert" parameterType="com.yn.model.NewServerPlan">
			INSERT INTO  new_server_plan 
      (server_id,batteryboard_id,inverter_id,material_json,min_purchase,unit_price,plan_img_url,plan_id,war_period,faction_id,type,plan_name,
      battery_board_shelf_life,battery_board_warranty_year,inverter_shelf_life,inverter_warranty_year,del)
      VALUES (#{serverId},#{batteryboardId},#{inverterId},
      #{materialJson},#{minPurchase},#{unitPrice},#{planImgUrl},
      #{planId},#{warPeriod},#{factionId},#{type},#{planName},#{batteryBoardShelfLife},#{batteryBoardWarrantyYear},#{inverterShelfLife},#{inverterWarrantyYear},#{del})
	
	</insert>
	
	
	
	

</mapper>